body {
    font-family: sans-serif;
    background-color: black;
    color: white;

}

a{
color: #ff8201;


}

li{
    font-size: 20px;
    color: #ff8201;

}

ul{
    color: #ff8201;

}

div,{
width:100%;
height:100%;

}

h1,H2{
color: #6ab7ff;

}

p{
font-size: 100pw;

}
.link-nav{
background-color: white;
text-decoration: none;
border-radius: 2px;
margin:10%;
font-size: 20PX;
padding: 1PX;
}

.link-nav:hover{
background-color: #ff8201;
color: white;




